.category-container  {
	border-radius: 10px;
}
.pointer{
	cursor: pointer;
}


.variable-container div {
	margin-right: 10em;
}

.font-family {
	font-family: "yeseva";
	src: url(../../font/YesevaOne-Regular.ttf)

}
