.page-container {
	margin: 5em 5% 1em;
}
.top-container  {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;	
	margin-top: .5em;
	padding: .5em 0;
}

.name-item {
	padding-left: 3em;
}
.justify-self-center{
	justify-self: center ;
}

.align-self-center {
	align-self: center;
}
.budget-input {
	border-top-right-radius: .25em;
	border-bottom-right-radius: .25em;
	height: 100%;
}

.budget-input {
	text-align: center
}

@media only screen and (min-width: 900px) {
	.top-container {
		grid-template-columns: 2fr 1fr 1fr 1fr;	
	}
}
